{% extends "articles/base.html" %}
{% load i18n article_filters %}

{% block title %}{% trans "Articles" %} - {% trans "Share your writings" %}{% endblock %}

{% block header_title %}
    {% trans "Articles" %} <small class="text-secondary">{% trans "Share your writings" %}</small>
{% endblock %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">{% trans "Title" %}</th>
            <th scope="col">{% trans "Synopsis" %}</th>
            <th scope="col">{% trans "Writer" %}</th>
            <th scope="col">{% trans "Created" %}</th>
            <th scope="col">{% trans "When" %}</th>
            <th scope="col" class="text-end">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.title|safe }}</td>
            <td>{{ article.synopsis|my_truncate_synopsis|safe }}</td>
            <td>{{ article.author.username }}</td>
            <td>{{ article.created|date:"M. d, Y, h:i a" }}</td>
            <td>{{ article.created|ago }}</td>
            <td class="text-end">
                <a href="{% url 'article-detail' article.pk %}" class="btn btn-info btn-sm">{% trans "Read" %}</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center text-muted">{% trans "No articles found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
