{% extends "articles/base.html" %}
{% load i18n article_filters %}

{% block title %}{{ article.title }}{% endblock %}

{% block header_title %}
    {{ article.title }}
{% endblock %}

{% block content %}
<ul class="list-group mb-3">
    <li class="list-group-item">
        <strong>{% trans "Title" %}:</strong> {{ article.title }}
    </li>
    <li class="list-group-item">
        <strong>{% trans "Author" %}:</strong> {{ article.author.username }}
    </li>
    <li class="list-group-item">
        <strong>{% trans "Created" %}:</strong> {{ article.created|date:"M. d, Y, h:i a" }}
    </li>
    <li class="list-group-item">
        <strong>{% trans "When" %}:</strong> {{ article.created|ago }}
    </li>
    <li class="list-group-item">
        <strong>{% trans "Synopsis" %}:</strong> {{ article.synopsis }}
    </li>
    <li class="list-group-item">
        <strong>{% trans "Content" %}:</strong> {{ article.content }}
    </li>
</ul>
{% if user.is_authenticated %}
    {% if is_favourite %}
        <div class="alert alert-info">{% trans "This article is already in your favourites." %}</div>
    {% else %}
        <form action="{% url 'add-favourite' article.pk %}" method="post" class="mb-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">{% trans "Add to Favourites" %}</button>
        </form>
    {% endif %}
{% endif %}
<a href="{% url 'articles' %}" class="btn btn-secondary">{% trans "Back to Articles" %}</a>
{% endblock %}
