{% extends "articles/base.html" %}
{% load i18n article_filters %}

{% block title %}{% trans "Favourites" %}{% endblock %}

{% block header_title %}
    {% trans "Favourites" %}
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{% trans "Title" %}</th>
                <th scope="col">{% trans "Synopsis" %}</th>
                <th scope="col">{% trans "Writer" %}</th>
                <th scope="col">{% trans "Created" %}</th>
                <th scope="col">{% trans "When" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for fav in favourites %}
            <tr>
                <td>
                    <a href="{% url 'article-detail' fav.article.pk %}" class="fw-bold text-decoration-none">
                        {{ fav.article.title|safe }}
                    </a>
                </td>
                <td>{{ fav.article.synopsis|my_truncate_synopsis|safe }}</td>
                <td>{{ fav.article.author.username }}</td>
                <td>{{ fav.article.created|date:"M. d, Y, h:i a" }}</td>
                <td>{{ fav.article.created|ago }}</td>
                <td>
                    <a href="{% url 'article-detail' fav.article.pk %}" class="btn btn-info">{% trans "Read" %}</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center text-muted">{% trans "No favourites yet." %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
