{% extends "articles/base.html" %}
{% load i18n %}
{% block title %}{% trans "Articles" %}{% endblock %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <h1>{% trans "Articles" %}</h1>
    <p class="text-muted">{% trans "Share your writings" %}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Synopsis" %}</th>
                <th>{% trans "When" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{% url 'article-detail' article.pk %}">{{ article.title }}</a></td>
                <td>{{ article.author.username }}</td>
                <td>{{ truncate_synopsis(article.synopsis) }}</td>
                <td>{{ ago(article.created) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
