{% extends "articles/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Publish an article" %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>{% trans "Title" %}</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>{% trans "Synopsis" %}</label>
            <input type="text" name="synopsis" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>{% trans "Content" %}</label>
            <textarea name="content" class="form-control" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit">{% trans "Publish" %}</button>
    </form>
{% endblock %}
