<!DOCTYPE html>
<html>
<head>
    <title>Películas</title>
</head>
<body>
    <h1>Lista de Películas</h1>
    {% if movies %}
    <table border="1">
        <tr>
            {% for field in movies[0]._meta.fields %}
            <th>{{ field.name }}</th>
            {% endfor %}
        </tr>
        {% for movie in movies %}
        <tr>
            {% for field in movie._meta.fields %}
            <td>{{ movie|getattr:field.name }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No hay datos disponibles.</p>
    {% endif %}
</body>
</html>
