{% extends 'base.html' %}
{% load static %}

{% block title %}Ex01: Display Process of a Static Page{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %}

{% block content %}
<h1>Display Process of a Static Page</h1>
<ol>
    <li>The browser sends an HTTP request to the specified URL.</li>
    <li>Django receives the request and passes it to the URLconf for processing.</li>
    <li>The URLconf maps the URL to the corresponding view.</li>
    <li>The view processes the request and renders the template.</li>
    <li>The template is combined with any contextual data provided by the view.</li>
    <li>The view returns an HTTP response with the generated HTML.</li>
    <li>The browser receives the response and displays the page to the user.</li>
</ol>
{% endblock %}

