{% extends 'base.html' %}
{% load static %}

{% block title %}Ex01: Django, Web Framework{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %}

{% block content %}
<h1>Django: Web Framework</h1>
<p>Django is a high-level web framework written in Python that encourages rapid development and clean, pragmatic design. It was created in 2003 by Adrian Holovaty and Simon Willison and publicly released in 2005. Django follows the model-view-template (MVT) design pattern and emphasizes code reuse, the DRY (Don't Repeat Yourself) principle, and automatic configuration.</p>
{% endblock %}

