{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{{ room.name }} | Chat{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>{% trans "Room:" %} {{ room.name }}</h3>
            <div id="chat-messages" style="height:350px; overflow-y:auto; border:1px solid #ccc; padding:10px; background:#f8f9fa;">
                {% for msg in last_messages %}
                <div><b>{{ msg.user.username }}</b>: {{ msg.content }}</div>
                {% endfor %}
            </div>
            <form id="chat-form" class="mt-2 d-flex">
                <input type="text" id="chat-message-input" class="form-control me-2" autocomplete="off" placeholder="{% trans 'Type a message...' %}"/>
                <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
            </form>
        </div>
        <div class="col-md-4">
            <h5>{% trans "Users Online" %}</h5>
            <ul id="user-list" class="list-group" style="min-height:100px;"></ul>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const roomName = "{{ room.name|escapejs }}";
    const username = "{{ user.username|escapejs }}";
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    function scrollToBottom() {
        const chatMessages = $('#chat-messages');
        chatMessages.scrollTop(chatMessages[0].scrollHeight);
    }

    $(document).ready(function(){
        scrollToBottom();
    });

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.message) {
            let msgClass = data.username === 'System' ? 'system-message' : '';
            $('#chat-messages').append('<div class="' + msgClass + '"><b>' + data.username + '</b>: ' + data.message + '</div>');
            scrollToBottom();
        }
        if (data.user_list) {
            $('#user-list').empty();
            data.user_list.forEach(function(user){
                $('#user-list').append('<li class="list-group-item">' + user + '</li>');
            });
        }
    };

    $('#chat-form').submit(function(e){
        e.preventDefault();
        const messageInput = $('#chat-message-input');
        const message = messageInput.val();
        if (message.trim() !== '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': username
            }));
            messageInput.val('');
        }
    });
</script>
{% endblock %}
